.bottle{
    background: #ddd;
    width: 160px;
    border-radius: 30px 30px 6px 6px;
    height: 300px;
    padding: 6px;
    box-shadow: 3px 3px 3px #efefef;
    margin: auto;
}
.empty{
    background : #ddd;
}
.full{
    background : blue;
}